html, body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
}

.jumbotron {
    border-radius: 0;
}

.border-title {border: 5px solid rgba(0, 0, 0, 0.2);}
.border-bottom-title {border-bottom: 5px solid rgba(0, 0, 0, 0.2);}

.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0;
}

.anchor {
    padding-top: 96px;
    margin-top: -96px;
}

a.link-no-style:hover, a.link-no-style:active {
    text-decoration: none;
}
